body{
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	background-color: #fafafa;
}

h1,h2,h3,h4,h5,h5{
	font-family: 'Fjalla One', sans-serif;
	font-weight: normal;
}

h1{
	font-size: 36px;
	line-height: 60px;
	letter-spacing: -.2px; /*Esto significa -0.2px del espaciado normal*/
	color: white;
	margin: 0px;
}

h2{
	text-transform: uppercase;	
	color: #026fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 20px;
}

h1 strong{
	color: #026fff;
}

figure{
	margin: 0;
}
/*--------------------------------------------------------------------------------------------------------------------------*/
/*Seccion del Header*/
.header{
	display: flex;
	flex-wrap: wrap;
	background-color: #1d252c;
	color: white;
	height: 70px;
	justify-content: space-between;
	align-items: center;
}

.menu{
	height: inherit;/*lo hereda del padre*/
}

.header ol{	
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	height: inherit;
}

.header ol li{	
	height: inherit;
}	

.header ol li a{
	text-decoration: none;
	color: white;
	display: flex;
	align-items: center;
	height: inherit;	
	padding: 0 10px;
}
/*Fin Seccion del Header*/
/*--------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/
/*Seccion del Hero*/
.hero{
	display: flex;
	flex-wrap: wrap;
	height: 300px;
	background: #1d252c;	
	align-items: center;	
	justify-content: space-between;
}

.hero h1{
	padding: 20px;
}
.hero-image{
	object-fit: cover;
}
/*Fin de Seccion del Hero*/
/*--------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------*/
/*Seccion del Portfolio*/
.portfolio{
	background-color: #fafafa;
	padding: 20px;	
}

.portfolio h2 {
	text-transform: uppercase;	
	color: #026fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 40px;	
}

.project{
	display: flex;
	flex-wrap: wrap;
	border: 1px solid gray;
	border-radius: 10px;
	margin-bottom:15px;
	padding: 20px;
	background-color: white;
	box-shadow: 0px 0px 20px #000;
	color:#1d252c;
	font-family: 'Fjalla One',sans-serif;
	justify-content: space-between; 
}

.project-details{
	width: 50%;
}

.project-title{
	font-size: 30px;
	margin-top: 0px;
	margin-bottom: 10px; 
}

.project-course{
	color:#6d6d6d;
}	

.project-course,.project-date,.project-url{
	margin:  10px 0;
}

.project-description {
	font-size: 20px;
}

.project-imageContainer{
	width: 50%;
	vertical-align: middle;
}

.project-imageContainer img{
	max-width: 100%;
	width: 100%;	
}

/*Fin Seccion de Portfolio*/
/*--------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------*/
/*Seccion de Eventos*/
.event-list-title {
	margin: 10px;
	background-color: #fafafa;
}
.event-list {
	display: flex;
	background-color: #fafafa;
	flex-wrap: wrap;
}

.event {
	/*border: 1px solid red;*/
	margin: 1%;
	width: 48%;
	border-radius: 10px;
	overflow: hidden;	
	flex-shrink: 0;
	background-color: #f4fbff; 
	box-shadow: 0 0 10px #000;
}

.event-image {
	width: 480px;
	height: 200px;
	object-fit: cover;/*Para que la imagen no pierda las proporciones*/
}

.event-detail {
	margin: 20px 40px;
	margin-top: -60px;
	padding: 20px;
	position: relative;
	background-color: #ffffff; 
	text-align: center;
}

.event-title {
	margin-top: 0px;
}

.event-description {
	text-align: left;
}

.event-url {	
	margin: auto;
	padding: 5px 20px; 
	border: 1px solid #026fff;
	border-radius: 5px;
	color: #026fff;
	text-decoration: none;
}
/*Fin de Seccion de Eventos*/
/*--------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/
/*Seccion de Contacto*/
.contact {
	display: flex;
	flex-wrap: wrap;
	background-color: #026fff;
	color: white;
	align-items: center;
	height: 150px;
	justify-content: space-between;
}

.contact h2{
	font-size: 20px;
}

.form-email input{
	border-style: solid;	
	border-width: 1px;
	border-color: gray;
	padding: 7px 20px 7px 25px;
	background-image: url('../img/envelope.svg');
	background-repeat: no-repeat;
	background-size:15px 15px; 
	background-position-y:center;
	background-position-x: 5px;
	border-radius: 5px;
}

.form-email button{
	display: block;
	background: transparent;
	color: white;
	padding: 7px 0;
	border-radius: 5px;
	width: 100px;
	margin: 10px 0;
	border-color: white;
	border-style: solid;
	border-width: 1px;	
}

.social-link {
	display: inline-block;			
	width: 50px;
	height: 50px;
	background-size: 50px 50px;
	margin:  0 10px;
}

.social-link.twitter {
	background-image: url("../img/twitter.svg");	
}

.social-link.facebook {
	background-image: url("../img/facebook.svg");
}

.social-link.github {
	background-image: url("../img/github.svg");
}

.social-link.instagram {
	background-image: url("../img/instagram.svg");
}

.contact h2{
	color: white;
}
/*Fin Seccion de Contacto*/
/*--------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/
/*Seccion del Footer*/
.footer{
	display: flex;
	flex-wrap: wrap;
	background-color: #1d252c;
	justify-content: space-between;
	align-items: center;
	color: white;
}

.footer img{
	width: 80px;
	vertical-align: middle;
}

.footer a{
	color: white;
}
/*Fin de Seccion del Footer*/
/*--------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/

.wrapper {
	margin: 0 auto;
	max-width: 1000px;
	flex: 1;/*TOMA TODO EL ANCHO DISPONIBLE QUE TENGA DENTRO DEL ELEMENTO*/
	display: inherit;
	height: inherit;
	align-items: inherit;
	justify-content: inherit;
	flex-wrap: inherit;
}

/*INICIO DEL RESPONSIVE DESIGN CON MEDIA QUERIES */
/*RECOMENDACION, SI SE VA A HACER DESKTOP FIRST, LO MEJOR ES EMPEZAR DESDE EL MEDIA QUERY MAS GRANDE*/
/*LAS SIGUIENTES RESOLUCIONES SE LLAMAN BREAKPOINTS*/
@media screen and (max-width: 1024px){/*PC DE ESCRITORIO*/
	.wrapper{
		padding: 0 1em;
	}	
}

@media screen and (max-width: 767px){/*Por debajo de laptop y tablet LAPTOP Y TABLET*/
	.header{
		display: block;
		height: auto;
	}

	.header ol{
		display: block;/*Initial pone el valor por defecto que traia el ol,Este initial es el display inline*/
	}

	.header ol li{
		height: 50px;
	}

	.header a{
		justify-content: center;
	}

	.header .logo{
		text-align: center;
	}

	.project{
		display: block;
	}

	.project-imageContainer{
		width: auto;
	}

	.project-details{
		width: auto;
		font-size: 16px;
	}

	.project-title{
		font-size: 1.5em;
		margin-bottom: .3em;
	}

	.project-url{

	}

	.project-course{
		font-size: .7em;
	}

	.project-date{

	}

	.project-description{
		font-size: .8em;
	}

	.project-course,.project-date,.project-url{
		margin:  .3em 0;
	}

	.event{
		width: auto;
		
		flex-shrink: initial;
	}
	.event img{
		width: 100%;
	}
}

@media screen and (max-width: 480px){/*TELFONOS GRANDES*/
	.project-details{
		width: auto;
		font-size: 12px;
	}

	.event-detail{
		/*1em en este caso vale 16px, porque no se le ha puesto tamaño de fuente, y por defecto es 16px*/
		margin:-2em .5em .5em;
		padding: 1em;
	}

	.contact{
		height: auto;
		padding: 1.5em 0;
		text-align: center;
		display: block;
	}

	.form-email button{
		margin: 1em auto;
	}

	.form-email h2{
		margin-top: 0;	
	}

	.footer{
		display: block;
		text-align: center;
		border: 1px solid transparent;
	}
}

@media screen and (max-width: 320px){/*TELEFONOS PEQUEÑOS*/
}

/*ANOTACIONES DE RESPONSIVE DESIGN

	La menor resolucion soportada que vamos a trabajar de ancho va a ser 320pixeles

	Unidades relativas de medida:

Porcentaje: longitud referente al tamaño de los elementos padre
em: unidad relativa al tamaño de fuente especificada más cercano, incluye al elemento mismo, y luego escala hacia

el padre hasta la fuente especificada mas cercana

rem: unidad relativa al tamaño de fuente especificada en el ancestro más lejano (html o body)

vw / vh: unidad relativa porcentual con respecto al viewport
*/