body{
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	background-color: #fafafa;
}

h1,h2,h3,h4,h5,h5{
	font-family: 'Fjalla One', sans-serif;/*Tomada de google fonts, se copia el link en el 
	html, despues del link de nuestra hoja de estilos, y luego se usa desde aqui (el css).*/	
	font-weight: normal;
}

h1
{
	font-size: 40px;
	line-height: 60px;/*Propiedad para cambiar el alto de linea*/
	letter-spacing: -.2px; /*Esto significa -0.2px del espaciado normal*/
	/*text-transform: capitalize; pone la primera letra de cada palabra en mayuscula*/
	text-transform: uppercase;
	/*text-decoration: underline;Subrayado*/
	color: white;
	margin: 0px;

}
h2{
	text-transform: uppercase;	
	color: #026fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 20px;
}

h1 strong{
	color: #026fff;
}

figure{
	margin: 0;
}
/*--------------------------------------------------------------------------------------------------------------------------*/
/*Seccion del Header*/
.header{

	background-color: #1d252c;
	/*box-shadow: 0px 0px 20px #000; */
	color: white;
	display: flex;
	justify-content: space-between;
	height: 70px;
	align-items: center;
	flex-wrap: wrap;
}

.menu{
	height: inherit;/*lo hereda del padre*/
}

.header ol{	
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	height: inherit;
}

.header ol li{	
	height: inherit;
}	

.header ol li a{
	text-decoration: none;
	color: white;
	display: flex;/*Es necesario para poder alinear verticalmente a su hijo que es la "a"*/
	align-items: center;/*Se colocó en la a porque la estamos tratando como elemento padre, su hijo es el texto que lleva 
	dentro por lo tanto, se centra el texto*/
	height: inherit;	
	padding: 0 10px;
}
/*Fin Seccion del Header*/
/*--------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/
/*Seccion del Hero*/
.hero{
	height: 300px;
	background: #1d252c;
	/*background-image: url('../img/hero.jpg');*/
	/*background-size: 500px 300px;
	background-repeat: no-repeat;
	background-position: right;*/
	display: flex;
	align-items: center;	
	justify-content: space-between;
}

.hero h1{
	padding: 20px;
}
.hero-image{
	object-fit: cover;
}
/*Fin de Seccion del Hero*/
/*--------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------*/
/*Seccion del Portfolio*/
.portfolio{
	background-color: #fafafa;
	padding: 20px;	
}

.portfolio h2 {
	text-transform: uppercase;	
	color: #026fff;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 40px;	
}

.project{
	/*border-top: 10px solid red;
	border-right: 10px solid green;
	border-left: 10px solid pink;
	border-bottom: 10px solid orange;*/
	/*border-color: red;
	border-width: 15px;
	border-style: solid;*/
	border: 1px solid gray;
	border-radius: 10px;
	/*border-top-left-radius: 50px;*/
	margin-bottom:15px;
	padding: 20px;
	background-color: white;
	box-shadow: 0px 0px 20px #000;
	color:#1d252c;
	display: flex;
	font-family: 'Fjalla One',sans-serif;
	justify-content: space-between; 
}

.project-details{
	width: 500px;
}

.project-title{
	font-size: 30px;
	margin-top: 0px;
	margin-bottom: 10px; 
}

.project-course{
	color:#6d6d6d;
}	

.project-course,.project-date,.project-url{
	margin:  10px 0;
}

.project-description {
	font-size: 20px;
}

.project-imageContainer{
	width: 500px;
	vertical-align: middle;
}
/*Fin Seccion de Portfolio*/
/*--------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------*/
/*Seccion de Eventos*/
.event-list-title {
	margin: 10px;
	background-color: #fafafa;
}
.event-list {
	display: flex;
	background-color: #fafafa;
	flex-wrap: wrap;
}

.event {
	/*border: 1px solid red;*/
	margin: 10px;
	width: 480px;
	border-radius: 10px;
	overflow: hidden;	
	flex-shrink: 0;
	background-color: #f4fbff; 
	box-shadow: 0 0 10px #000;

}

.event-image {
	width: 480px;
	height: 200px;
	object-fit: cover;/*Para que la imagen no pierda las proporciones*/
}

.event-detail {
	margin: 20px 40px;
	margin-top: -60px;
	padding: 20px;
	position: relative;
	background-color: #ffffff; 
	text-align: center;

}

.event-title {
	margin-top: 0px;
}
.event-description {
	text-align: left;
}
.event-url {	
	margin: auto;
	padding: 5px 20px; 
	border: 1px solid #026fff;
	border-radius: 5px;
	color: #026fff;
	text-decoration: none;

}
/*Fin de Seccion de Eventos*/
/*--------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/
/*Seccion de Contacto*/
.contact {
	background-color: #026fff;
	color: white;
	display: flex;
	align-items: center;
	height: 150px;
	justify-content: space-between;
}
.contact h2{
	font-size: 20px;
}
.form-email input{
	border-style: solid;	
	border-width: 1px;
	border-color: gray;
	padding: 7px 20px 7px 25px;
	background-image: url('../img/envelope.svg');
	background-repeat: no-repeat;
	background-size:15px 15px; 
	background-position-y:center;
	background-position-x: 5px;
	border-radius: 5px;

}
.form-email button{
	/*padding:3px 30px;*/
	display: block;
	background: transparent;
	color: white;
	padding: 7px 0;
	border-radius: 5px;
	width: 100px;
	margin: 10px 0;
	
	
	border-color: white;
	border-style: solid;
	
	border-width: 1px;	
	
}

.social-link {
	display: inline-block;			
	width: 50px;
	height: 50px;
	background-size: 50px 50px;
	margin:  0 10px;
}

.social-link.twitter {
	background-image: url("../img/twitter.svg");	
}

.social-link.facebook {
	background-image: url("../img/facebook.svg");
}

.social-link.github {
	background-image: url("../img/github.svg");
}

.social-link.instagram {
	background-image: url("../img/instagram.svg");
}

.contact h2{
	color: white;
}
/*Fin Seccion de Contacto*/
/*--------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/
/*Seccion del Footer*/
.footer{
	background-color: #1d252c;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
}

.footer img{
	width: 80px;
	vertical-align: middle;/*Cuando se tienen imagenes mezcladas con texto, se puede usar este para que
	haga el alineado vertical bien*/
}

.footer a{
	color: white;
}
/*Fin de Seccion del Footer*/
/*--------------------------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/

.wrapper {
	/*border: 1px solid red;*/
	/*width: 1000px;*/
	max-width: 1000px;
	margin: 0 auto;
	display: inherit;
	height: inherit;
	align-items: inherit;
	justify-content: inherit;
	flex-wrap: inherit;
}

/*INICIO DEL RESPONSIVE DESIGN CON MEDIA QUERIES */
/*RECOMENDACION, SI SE VA A HACER DESKTOP FIRST, LO MEJOR ES EMPEZAR DESDE EL MEDIA QUERY MAS GRANDE*/
/*LAS SIGUIENTES RESOLUCIONES SE LLAMAN BREAKPOINTS*/
@media screen and (max-width: 1024px){/*PC DE ESCRITORIO*/
	body {
		/*border: 10px solid blue;*/
	}
}

@media screen and (max-width: 768px){/*LAPTOP Y TABLET*/
	body {
		/*border: 10px solid green;*/
	}
}

@media screen and (max-width: 480px){/*TELFONOS GRANDES*/
	body {
		border: 10px solid pink;
	}
}

@media screen and (max-width: 320px){/*TELEFONOS PEQUEÑOS*/
	body {
		border: 10px solid red;
	}
}
/*EXPLICACION DEL DISPLAY FLEXBOX, TIENE UNA PARTE AQUI Y OTRA EN HTML*/
.flexbox{
	display: flex;/*PARA QUE LOS HIJOS DE ESTE FLEXBOX SE PONGAN UNO AL LADO DEL OTRO SIN PERDER LA FORMA*/
	/*flex-direction: column;*/
	flex-wrap: wrap;/*PARA QUE EL FLEXBOX ENVUELVA TODAS LAS CAJAS Y NO SE SALGAN DE LA PANTALLA*/

}
.box{
	width: 50px;/*ANCHO*/
	height: 50px;/*ALTO*/
	border: 1px solid red;/*BORDE*/
	margin: 5px;/*MARGEN DE 20 PIXELES*/
	flex-shrink:0;
}
/*FIN DE EXPLICACION DEL DISPLAY FLEXBOX*/
/*---------------------------------------------------------------------------------------------------------------*/
/*
	Propiedades de Fuentes
	line-height para modificar el alto de linea
	font-size para modificar el tamaño de la fuente
	font-weight para modificar el tipo de fuente
	font-style para modificar el estilo de la fuente
	letter-spacing para modificar el espacio entre letras
	text-transform para transformar la fuente (mayusculas, minuculas, etc)
	text-decoration para moodificar la decoración de la 
*/


/*ANOTACIONES DE RESPONSIVE DESIGN

	La menor resolucion soportada que vamos a trabajar de ancho va a ser 320pixeles

	Unidades relativas de medida:

Porcentaje: longitud referente al tamaño de los elementos padre
em: unidad relativa al tamaño de fuente especificada más cercano, incluye al elemento mismo, y luego escala hacia

el padre hasta la fuente especificada mas cercana

rem: unidad relativa al tamaño de fuente especificada en el ancestro más lejano (html o body)

vw / vh: unidad relativa porcentual con respecto al viewport



*/